@model CC9.Models.Movie

<h2>Create Movie</h2>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <label>Movie Name:</label><br />
        @Html.TextBoxFor(m => m.Moviename)
    </div>
    <div>
        <label>Director Name:</label><br />
        @Html.TextBoxFor(m => m.DirectorName)
    </div>
    <div>
        <label>Date of Release:</label><br />
        @Html.TextBoxFor(m => m.DateofRelease, "{0:yyyy-MM-dd}", new { type = "date" })
    </div>
    <br />
    <input type="submit" value="Create" />
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>



