@model CC9.Models.Movie
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>



<h3>Are you sure you want to delete this?</h3>

<div>
    <strong>Movie Name:</strong> @Model.Moviename <br />
    <strong>Director Name:</strong> @Model.DirectorName <br />
    <strong>Date of Release:</strong> @Model.DateofRelease.ToShortDateString()
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Mid)
    <input type="submit" value="Delete" />
    @Html.ActionLink("Cancel", "Index")
}


