@model IEnumerable<CC9.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h2>All Movies</h2>

<p>
    @Html.ActionLink("Create New Movie", "Create", "Movie")
</p>

<table>
    <thead>
        <tr>
            <th>Movie ID</th>
            <th>Movie Name</th>
            <th>Director Name</th>
            <th>Date of Release</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Mid</td>
                <td>@movie.Moviename</td>
                <td>@movie.DirectorName</td>
                <td>@movie.DateofRelease.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = movie.Mid })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = movie.Mid })
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<p>
    @Html.ActionLink("Get Movies By Year", "ByYear", "Movie")
    @Html.ActionLink("Get Movies By Director", "ByDirector", "Movie")
</p>




